beautifulsoup4
certifi
chardet
dnspython
google-search-client
idna
lxml
pyaes
pymongo
https://github.com/pyrogram/pyrogram/archive/asyncio.zip
PySocks
requests
soupsieve
TgCrypto
urllib3
virtualenv
